body {
      background-color: #C0C0C0;
    }
  ul {
  list-style-type: none;
}
  h1 {
    text-shadow: 2px 2px 3px black;
    padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 30px;
    color: purple;
  }
  h2 {
    padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 15px;
    text-shadow:  black 1px 0 10px;
  }
    h3 {
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      text-shadow: 1px 2px 2px yellow;
      text-decoration: underline ;
      color: white;
    }
  h4 {
    padding-top: 10px;
      padding-right: 100px;
      padding-bottom: 10px;
      padding-left: 110px;
  }
  h6 {
       margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    text-decoration: underline dotted;
  }
img{
  border-radius: 10px;
  border-style: outset;
  border-color: purple;
}
    p {
      color: #3b5998; text-underlined: underlined; border-color: black;
    }
  #div1 {
    weidth: 20em; 
    margin-top:20px;
    margin-left: 10px;
    margin-right: 20px;
    border-style: dotted;
    padding-left: 80px;
    padding-right: 10px;
    padding-top: 90px;
    padding-bottom: 100px;
    background-color: white;
  }
  .card {
      box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
      width: 250px;
      box-sizing: border-box;
      transition-duration: 1s;
    }
    .card > img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0px;
    }
    .card > p {
      font-family: sans-serif;
      padding: 0px 10px 10px 10px;
      text-align: center;
    }
    .card:hover {
      box-shadow: 0 18px 36px rgba(0,0,0,0.30), 0 14px 11px rgba(0,0,0,0.22);
      width: 270px;
    }

ul {
      padding-left: 1px;
      list-style-type: none;
    }
    /* the selector below targets the */
    /* li elements inside the ul element */
    ul li {
      padding-left: 1px;
      background-image: url("images/star.png");
      background-position: top left;
      background-size: 16px 16px;
      background-repeat: no-repeat;
    }
#button1 {
      background-color: purple;
      color: black;
  border-radius: 5px;
  box-shadow: .5px .5px 1px 2px #000000;
    }